<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace对应一个mapper类-->
<mapper namespace="com.lsq.mapper.BucketMapper">
    <select id="getBucketInList" resultType="com.lsq.entity.Bucket">
        select bucket_code from basic_bucket where enabled = 1
    </select>
    <select id="getBucketOutList" resultType="com.lsq.entity.Bucket">
        select bucket_code from basic_bucket where enabled = 0
    </select>
</mapper>